html {
  line-height: 1.6;
}

body {
  padding: 2em;
}

.wrapper {
  max-width: 50em;
  margin: 0 auto;
}

section {
  margin: 4em 0;
}

blockquote {
  background: #ddd;
  margin: 4em 0;
  padding: 2em;
}

code {
  color: #099;
}

#chart1 div,
#chart2 div {
  display: inline-block;
  background: red;
  width: 30px;
  margin-right: 5px;
}

#chart3 path {
  fill: transparent;
  stroke: red;
  stroke-width: 1;
}
