html {
  line-height: 1.6;
}

body {
  padding: 2em;
}

.wrapper {
  max-width: 50em;
  margin: 0 auto;
}

section {
  margin: 4em 0;
}

blockquote {
  background: #ddd;
  margin: 4em 0;
  padding: 2em;
}

code {
  color: #099;
}

table {
  width: 100%;
}

th {
  text-align: left;
}

#chart1 .bar,
#chart2 .bar {
  display: inline-block;
  background: red;
  width: 30px;
  margin-right: 10px;
  position: relative;
}

#chart1 .label,
#chart2 .label {
  position: absolute;
  top: 100%;
  width: 100%;
  text-align: center;
  font-size: 60%;
}

#chart3 path {
  fill: transparent;
  stroke: red;
  stroke-width: 1;
}
